.logo {
  width: 150px;
  margin: 0 auto;
}

.label {
  font-size: 1.3rem;
}

.statusDescription {
  font-style: italic;
  font-size: 1.3rem;
}

.lastFeedDescription {
  text-align: right;
  font-size: 1.3rem;
}
