# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# User files
*.atsuo

# Debug and Release directories
*/Debug/*
*/Release/*

# Node modules
sources/*/node_modules/*
sources/mobile/www/build/
sources/mobile/platforms/
sources/mobile/plugins/
sources/mobile/*.swp
sources/mobile/.DS_Store
sources/mobile/Thumbs.db

# VS Code related files and dirs
.vscode
