@import "~theme/theme-variables.scss";

ion-card-title {
    font-size: 1.2em;
    background: color($colors, primary);
    color: white;
    padding: 5px;
}

ion-card-content{
    padding: 2px;

    ion-item{
        font-size: 0.9em;
        &.item-block{
            min-height:0;
        } 

        ion-label.label-md{
            margin: 5px 8px 5px 0px; 
        } 

        .quantityLabel{
            text-align: right;
        } 
    } 
} 


ion-card-title{
    padding: 3px;
} 