$debugMessageDebugColor: green;
$debugMessageInfoColor: blue;
$debugMessageErrorColor: red;

ul.debug-container
{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 0px;
    li 
    {
        &.debug
        {
            color: $debugMessageDebugColor;
        }
        &.info
        {
            color: $debugMessageInfoColor;
        }
        &.error
        {
            color: $debugMessageErrorColor;
        }
    }
    
}
